<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vego.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5CFC02A1CEF419E00CBA04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5CFC0411CEF419E00CBA04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5CFC04C1CEF419E00CBA04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
